.poemContainer {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  flex-direction: column;
  /* height: 350px; */
  max-width: 200px;
}
.poem {
  height: 350px;
  overflow: hidden;
  color: rgba(112, 41, 128, 0.891);
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  margin: 0;
  white-space: pre-line;
}

.arrowImg {
  width: 30px;
  height: 30px;
}
.arrowButton {
  background-color: transparent;
}
.buttonContainer {
  display: flex;
}
.poemTitle {
  font-size: 22px;
  color: rgba(49, 26, 54, 0.891);
  display: flex;
  justify-content: center;
}
.poemContainer {
  margin-top: 50px;
  background-color: rgba(159, 159, 159, 0.699);
  border-radius: 10px;
  max-width: 350px;
}
/* Modal style */
.poemModal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(189, 186, 186, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.poemModalText {
  height: 100vh;
  scroll-behavior: smooth;
  white-space: pre-line;
  color: rgba(112, 41, 128, 0.891);
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
}
.poemContainerInModal {
  max-height: 70vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
}
.CloseButton {
  /* Позиціонування у верхньому правому куті модального контейнера */
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1001; /* Повинен бути вище вмісту модалки */

  /* Візуальний стиль */
  background: #333; /* Темний фон */
  color: white; /* Білий X */
  border: none;
  border-radius: 50%; /* Кругла форма */
  width: 30px;
  height: 30px;
  line-height: 30px; /* Центрування X вертикально */
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;

  /* Ефект переходу для плавної взаємодії */
  transition: all 0.2s ease-in-out;
  padding: 0;
}

/* Ефект при наведенні курсора */
.CloseButton:hover {
  background: #f00; /* Змінюємо колір на червоний */
  transform: scale(1.1); /* Збільшуємо розмір */
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}
